<div class="container" ng-controller="kwickCtrl as kwickC">
    <div class="row">
        <div class="wrapper col-md-6 col-md-offset-3">
            <h1 class="text-center">Hello Bienvenue sur l'application Kwick ! </h1>
            <!-- Directive novalidate pour empêcher le fonctionnement standard d'un envoi de formulaire -->
            <form name="formSignin" class="form-signin"
                  ng-submit="kwickC.signIn(kwickC.user.username,kwickC.user.password)" novalidate>
                <h2 class="form-signin-heading">Connexion : </h2>
                <input ng-model="kwickC.user.username" type="text" class="form-control" name="username"
                       placeholder="Username" required
                       autofocus=""/>
                <input ng-model="kwickC.user.password" type="password" class="form-control" name="password"
                       placeholder="Password" required/>
                <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-bottom: 15px;">Connexion
                </button>
                <div ng-show="formSignin.username.$dirty">
                    <div ng-messages="formSignin.username.$error">
                        <div ng-message="required">
                            <p class="alert bg-danger"> Veuillez entrez un Nom d'utilisateur !</p>
                        </div>
                    </div>
                </div>
                <div ng-show="formSignin.password.$dirty">
                    <div ng-messages="formSignin.password.$error">
                        <div ng-message="required">
                            <p class="alert bg-danger"> Veuillez entrez un mot de passe !</p>
                        </div>
                    </div>
                </div>
            </form>
            <h1 class="text-center">Ou</h1>
            <form name="formSignUp" class="form-signin"
                  ng-submit="kwickC.signUp(kwickC.newUser.username,kwickC.newUser.password)" novalidate>
                <h2 class="form-signin-heading">Créez votre compte : </h2>
                <div class="form-group has-feedback">
                    <input ng-model="kwickC.newUser.username" type="text" class="form-control" name="username"
                           placeholder="Username" ng-minlength="5"
                           ng-maxlength="20" required autofocus=""/>
                    <i class="form-control-feedback glyphicon glyphicon-check" ng-show='formSignUp.username.$valid'></i>
                    <input ng-model="kwickC.newUser.password" type="password" class="form-control" name="password"
                           placeholder="Password" ng-minlength="5"
                           ng-maxlength="20" required/>
                    <i class="form-control-feedback glyphicon glyphicon-check" ng-show='formSignUp.password.$valid'></i>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-bottom: 15px;">
                        Connexion
                    </button>
                </div>
                <div ng-show="formSignUp.username.$dirty">
                    <div ng-messages="formSignUp.username.$error">
                        <div ng-message="required">
                            <p class="alert bg-danger"> Veuillez entrez un Nom d'utilisateur !</p>
                        </div>
                    </div>
                </div>
                <div ng-show="formSignUp.password.$dirty">
                    <div ng-messages="formSignUp.password.$error">
                        <div ng-message="required">
                            <p class="alert bg-danger"> Veuillez entrez un mot de passe !</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>